[Desktop Entry]
Type=Application
Name=LinuxRE
Comment=LinuxRE recovery tools
Exec=konsole -e bash /opt/linuxre/linuxre
Icon=system-recovery
Terminal=false
Categories=System;
